<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aliens Data</title>
    <link rel="stylesheet" href="style.css">
    <script type="module" src="./codigo.js"></script>
</head>
<body>
    <h1>Aliens</h1>
    
    <div id="login-container">
        <h2>Login</h2>
        <form id="login-form">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <button type="submit">Login</button>
        </form>
        <p id="login-error" style="color: red; display: none;">Invalid credentials, please try again.</p>
        <button id="show-register">Register</button>
    </div>
    
    <div id="register-container" style="display: none;">
        <h2>Register</h2>
        <form id="register-form">
            <label for="new-username">Username:</label>
            <input type="text" id="new-username" name="new-username" required>
            <label for="new-password">Password:</label>
            <input type="password" id="new-password" name="new-password" required>
            <button type="submit">Register</button>
        </form>
        <p id="register-error" style="color: red; display: none;">Registration failed, please try again.</p>
    </div>
    <button role="link" onclick="window.location='./alienmes.html'" class="linkalienmes" style="display: none;"></button>
    <div id="data-container" style="display: none;">
    </div>
    
</body>
</html>
