@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap');

body {
    font-family: "Bubblegum Sans", sans-serif;
    font-weight: 900;
    font-size: 1.2rem;
    font-style: normal;
    background-color: #f4f4f4;
    color: #358102;
    text-align: center;
    background-image: url(https://e0.pxfuel.com/wallpapers/454/310/desktop-wallpaper-ben-10-ben-10-transformation-background-teahub-io.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    flex-direction:column;
    align-items: center;
    height: 100vh;
}

h1 {
    /* margin-top: 20px; */
    color: #fff;
    text-transform: uppercase;
    font-size: 3.5rem;
}

#data-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 80%;
    height: 80vh;
    overflow-y: auto;
    /* margin-top: 20px; */
}
#data-container::-webkit-scrollbar{
    display: none;
}

.alien {
    background-color: 	#64cc4f;
    border: 1px solid #006b30;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    width: 200px;
    height: 357.766px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.alien:hover {
    cursor: pointer;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    transition: 0.5s ease;
    scale: 1.1;
}

.alien img {
    max-width: 100%;
    border-radius: 5px;
    height: 70%;
}

.alien h2 {
    margin: 10px 0;
    /* font-size: 18px; */
}

.alien p {
    margin: 5px 0;
    color: #666;
}

.linkalienmes{
    
    border: 5px #006b30;
}



.linkalienmes {
    position: absolute;
    width: 5rem;
    height: 2rem;
    right: 5%;
    top: 9%;
    background-color:#000000;
    color: #fff;
    border:#006b30 0.2em solid;
    border-radius: 11px;
    text-align: center;
    transition: all 0.6s ease;

  }
  
  .linkalienmes:hover {
    background-color: #36ff51;
    scale: 1.1;
    cursor: pointer;
  }

#meses-container {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
}

.mes {
    width: 100px;
    height: 100px;
    display: inline-block;
    margin: 10px;
    background-color: lightblue;
    text-align: center;
    line-height: 100px;
    cursor: pointer;
    border: 1px solid #000;
}


#alien-container {
    color:#fff;
    margin-bottom: 10px;
}

.alien2 {
    background-color: 	#64cc4f;
    border: 1px solid #006b30;
    border-radius: 5px;
    padding: 10px;
    width: 400px;
    height: 150px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;  
    color: #006b30;
}

.alien2 img{
    width: 50%;
    border-radius: 5px;
    height: 100%;
}

.alien2 div {
    width: 50%;
}